*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0b0b0b;
  color:white;
}

.navbar{
  background:rgba(0,0,0,0.7);
  backdrop-filter:blur(10px);
}

.hero{
  height:100vh;
  background:linear-gradient(#000000cc,#000000cc),
  url("https://images.unsplash.com/photo-1511379938547-c1f69419868d") center/cover;
  display:flex;
  align-items:center;
}

.hero h1{
  font-size:4rem;
  animation:fadeUp 1.5s;
}

.hero span{color:#ff4d4d}

.section{
  padding:80px 0;
}

.feature-card{
  background:#151515;
  padding:30px;
  border-radius:15px;
  text-align:center;
  transition:0.4s;
}

.feature-card i{
  font-size:40px;
  color:#ff4d4d;
  margin-bottom:15px;
}

.feature-card:hover{
  transform:translateY(-10px);
  background:#ff4d4d;
}

.trust h1{
  color:#ff4d4d;
  font-weight:700;
}

.player{
  max-width:420px;
  margin:auto;
  background:#111;
  padding:30px;
  border-radius:15px;
}

.controls button{
  background:#ff4d4d;
  border:none;
  color:white;
  padding:10px 18px;
  margin:10px;
  border-radius:30px;
}

.price-card{
  background:#111;
  padding:35px;
  border-radius:15px;
  text-align:center;
}

.price-card.popular{
  border:2px solid #ff4d4d;
}

.testimonial{
  background:#151515;
  padding:25px;
  border-radius:15px;
  font-style:italic;
}

.cta{
  background:linear-gradient(45deg,#ff4d4d,#ff0000);
}

footer{
  background:#000;
  text-align:center;
  padding:15px;
  color:#aaa;
}

@keyframes fadeUp{
  from{opacity:0;transform:translateY(40px)}
  to{opacity:1}
}
